<!-- Oxford inline citation template -->
<!-- Processes [ref:id] notation during document compilation -->
<span class="citation-inline">
    {{#if author}}{{author}}{{/if}}{{#if year}} {{year}}{{/if}}
</span> Inline citation template -->
<span class="citation-inline">
    {{#if author}}{{author}}{{/if}}{{#if year}} ({{year}}){{/if}}
</span>